td{
	height: 100px;
	width: 100px;
}
td:hover{
	border:1px solid black;
}
.hori {
		border-left: 1px solid black;
		border-right: 1px solid black;
	}

	.vert {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
	table{
		margin :auto;
	}
	h1{
		text-align: center;
	}